#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 32px #ffffffaa);
}


/* .background {
  background-image: url("/spacetile.jpg");
  background-size: auto;
  background-repeat: repeat;
  background-position: top left;
  min-height: 100%;
  min-width: 100%;
} */

.main-column {
  flex: auto;
  max-width: 1000px;
  border-radius: 30px;
  margin-top: 25px;
  padding-left: 200px;
  padding-right: 200px;
  backdrop-filter: brightness(0.75) blur(5px);
}

.header-text {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.subheader-text {
  
}


.paragraph-text {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}